@import "./config";

@font-face {
  font-family: "logo-font";
  src: url("../../public/SunnyspellsRegular-MV9ze.otf");
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(0.4rem, 1.5vw, 0.6rem);
  color: $main-font-color;
  font-family: logo-font;
  font-size: clamp(2.3rem, 6.5vw, 3.8rem);
  line-height: normal;
}